@charset "UTF-8";

.category-card {
	transition: transform 0.2s, box-shadow 0.2s;
	cursor: pointer;
	height: 100%;
	background-color: #f9f9f9;
}

.category-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-image {
	border-radius: 8px;
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.card-link {
	text-decoration: none;
	color: inherit;
}

.card-body {
	padding: 3rem;
	margin: 5rem;
}

.card-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.card-text {
	font-size: 1.1rem;
}

.categories-section {
	min-height: calc(100vh - 200px);
	padding: 4rem 0;
}